<app-hero [content]="heroData"></app-hero>

<div class="main-content">
    <section class="about">
        <h2>Unsere Kurse</h2>
        <p>Auf dieser Seite findet ihr alles Wichtige zu unseren Kursen an der Uni Mainz. Daneben bieten wir auch Kurse an der Hochschule Rhein-Main in Wiesbaden an, über die ihr euch hier informieren könnt.</p>
    </section>

    <section class="performances">
        <h2>Unsere Auftritte</h2>
        <p>Wenn ihr euch unsere bisherigen Auftritte anschauen wollt, seid ihr hier richtig.</p>
    </section>

    <section class="partner">
        <h2>Tanzpartnerbörse</h2>
        <p>Ihr sucht noch eine*n geeignete*n Tanzpartner*in? Dann schaut doch mal bei unserer Tanzpartnerbörse vorbei.</p>
    </section>

    <section class="music">
        <h2>Unsere Musikliste</h2>
        <p>Sucht ihr Musik, auf die ihr gut Rock'n'Roll tanzen könnt? Dann werft gerne einen Blick in unsere Musikliste.</p>
    </section>

    <section class="social-media">
        <h2>Folgt uns auf Social Media</h2>
        <p>Alle unsere Auftritte in den Sozialen Medien findet ihr über unseren Linktree.</p>
    </section>
</div>

<app-faq [faqs]="faqs"></app-faq>
