<mat-toolbar color="primary" class="nav-toolbar">
    <span class="nav-title">Uni Rock'n'Roll</span>
    <span class="spacer"></span>
  
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/mainz">Mainz</a>
    <a mat-button routerLink="/wiesbaden">Wiesbaden</a>
    <a mat-button routerLink="/auftritte">Auftritte</a>
    <a mat-button routerLink="/musik-liste">Musik</a>
    <a mat-button routerLink="/tanzpartnerboerse">Tanzpartnerbörse</a>
    <a mat-button routerLink="/impressum-datenschutz">Impressum</a>
  </mat-toolbar>
